<section class="card">

    <div class="card-body">

        <div> id: <a id="postid">{{id}}</a></div>

        <a class="btn" id="updateThisbtn" onclick="window.location" aria-current="page" href='/home'>update</a>
        <a class="btn" id="deletebtn" onclick="window.location" aria-current="page" href='/home'>delete</a>

        <div class="form">
            <textarea class="form-control" id="title">{{title}}</textarea>
            {{!-- <label for="floatingInput">title</label> --}}
        </div>

        <div class="form">
            <textarea class="form-control" id="author">{{author}}</textarea>
            {{!-- <label for="floatingInput">author</label> --}}
        </div>

        <div class="form">
            <textarea class="form-control" id="post">{{post}}</textarea>
            {{!-- <label for="floatingInput">post</label> --}}
        </div>

    </div>

</section>